body {
  color: var(--NAVY-BLUE, #434455);
  background-color: #fff;
  font-family: Roboto, sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  width: 1440px;
  height: 72px;
  background: var(--WHITE, #fff);
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-left: 156px;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}

.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.navigation {
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.nav-item .link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-right: 40px;
}
.nav-item {
  display: flex;
  margin-left: 76px;
  margin-top: 24px;
  padding: 1.5;
}
.nav-item .link:hover,
.link:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.adr {
  font-style: normal;
  margin-left: 334px;
}
.adr-item {
  display: flex;

  margin-top: 24px;

  margin-bottom: 24px;
  padding: 1.5;
}
.adr .link {
  display: flex;
  margin-right: 40px;
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.adr .link:hover,
.link:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.main-section {
  display: flex;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;

  background: var(--NAVY-BLUE, #2e2f42);
}
.main-section .container {
  flex-direction: column;
}
.title-main {
  color: var(--WHITE, #fff);
  width: 496px;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.4px;
  margin-top: 188px;
  margin-right: 472px;
  margin-left: 472px;
  margin-bottom: 48px;
}
.button-main {
  font-family: "Roboto", sans-serif;
  width: 169px;
  height: 56px;
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  background: var(--IRIS, #4d5ae5);
 
  align-items: flex-start;
  border-radius: 4px;
  margin-right: 635px;
  margin-bottom: 188px;
  margin-left: 636px;
}
.button-main:hover,
.button-main:focus {
  background: var(--OCEAN, #404bbf);
}
.invisible {
  display: none;
}
.discription {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 156px;
  margin-right: 156px;
  justify-content: space-between;
}
.discription .title-three {
  padding: 8px;
}
.discription .text {
  padding: 8px;
}

.title-three {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  background-color: #ffffff;
}

.text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  background-color: #ffffff;
}
.team {
  background-color: #f4f4fd;
  width: 1440px;
  height: 732px;
}
.team .container {
  flex-direction: column;
}
.team .title-second {
  margin-top: 120px;
  margin-bottom: 76px;
}
.team-photo {
  display: flex;
  margin-left: 156px;
}
.photo-card {
  margin-right: 24px;
  border-radius: 0px 0px 4px 4px;
background: var(--WHITE, #FFF);
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

img
Image · 2,000 x 2,722

}
.photo-card .title-three {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}
.photo-card .text {
  text-align: center;
  margin-bottom: 32px;
}
.title-second {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  margin-left: 156px;
}
.portfolio-card {
  margin-left: 24px;
  margin-bottom: 48px;
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}
.portfolio .title-second {
  margin-top: 120px;
  margin-bottom: 72px;
}
.portfolio-card .title-three {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
}
.portfolio-card .text {
  margin-bottom: 16px;
  text-align: center;
}
.portfolio .container {
  flex-direction: column;
}
.section-footer {
  padding-top: 120px;
flex-shrink: 0;
  background: var(--NAVY-BLUE, #2e2f42);
}
.logo-footer {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  margin-left: 156px;
  
}
.logo-studio-footer {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.footer-p {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  margin-top: 17.5px ;
  width: 264px;
  margin-left: 156px;
  padding-bottom: 100px;
}
.photo-card {
  background-color: #ffffff;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  display: flex;
  width: 1440px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
